<form>
    <h1>Edit Account</h1>
    <h2>Account Details</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" id="inputPassword4" placeholder="Password" required>
        </div>
    </div>
    <h2>Account Details</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputNameFirst">First Name</label>
            <input type="email" class="form-control" id="inputNameFirst" placeholder="First Name" required>
        </div>
        <div class="form-group col-md-6">
            <label for="inputNameSure">Sure Name</label>
            <input type="email" class="form-control" id="inputNameSure" placeholder="Sure Name" required>
        </div>
    </div>
    <h3>Address</h3>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputAddress">Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputAddress2">Address</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apt 123">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" required>
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" required>
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputCountry">Country</label>
            <select id="inputCountry" class="form-control" required>
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPostal">Postal</label>
            <input type="text" class="form-control" id="inputPostal" required>
        </div>
    </div>
    <h3>Birthday</h3>
    <div class="form-row">
        <div class="form-group col-md-1">
            <label for="inputDOBMonth">Month</label>
            <input type="text" class="form-control" id="inputDOBMonth" placeholder="Month" required>
        </div>
        <div class="form-group col-md-1">
            <label for="inputDOBDay">Day</label>
            <input type="text" class="form-control" id="inputDOBDay" placeholder="Day" required>
        </div>
        <div class="form-group col-md-1">
            <label for="inputDOBYear">Year</label>
            <input type="text" class="form-control" id="inputDOBYear" placeholder="Year" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
