<div class="row">
    <div class="col-md-12">
        <h1>Account Details</h1>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>First Name</td>
                    <td>Nicholas</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>Laveur</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>
                        <address>
                            123 Main St<br />
                            Line 2<br />
                            City, State, Country, Postal
                        </address>
                    </td>
                </tr>
                <tr>
                    <td>Date of Birth</td>
                    <td>MM/DD/YYYY</td>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a href="/account/edit" class="btn btn-secondary">Edit</a>
    </div>
    <div class="col-md-1">
        <a href="/registration" class="btn btn-primary">Register</a>
    </div>
</div>
