<div class="row">
    <div class="col-md-12">
        <h1>Organization Details</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Name:</p>
    </div>
    <div class="col-md-4">
        <p>Pacific Anthropomorphics League</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Short Name:</p>
    </div>
    <div class="col-md-4">
        <p>PAWCon</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>Address:</p>
    </div>
    <div class="col-md-4">
        <address>
            123 Main St<br />
            Line 2<br />
            City, State, Country, Postal
        </address>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>More Info</p>
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a href="/dashboard/organization/edit" class="btn btn-secondary">Edit</a>
    </div>
</div>
