<div class="row">
    <div class="col-md">
        <h1>Products</h1>
    </div>
</div>
<div class="row border mb-3">
    <div class="col-md">
        <div class="row">
            <div class="col-md-6">
                <h3>PAWCon Donation</h3>
            </div>
            <div class="col-md-6">
                <p>A donation to help the convention grow.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Type</p>
            </div>
            <div class="col-md-3">
                <p>Donation</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Price</p>
            </div>
            <div class="col-md-9">
                <p>$X.00</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-1">
                <a href="/dashboard/products/modify" class="btn btn-primary">Modify</a>
            </div>
        </div>
    </div>
</div>
<div class="row border mb-3">
    <div class="col-md">
        <div class="row">
            <div class="col-md-6">
                <h3>Charity Donation</h3>
            </div>
            <div class="col-md-6">
                <p>A donation to our charity.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Type</p>
            </div>
            <div class="col-md-3">
                <p>Donation</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Price</p>
            </div>
            <div class="col-md-9">
                <p>$X.00</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-1">
                <a href="/dashboard/products/modify" class="btn btn-primary">Modify</a>
            </div>
        </div>
    </div>
</div>
<div class="row border mb-3">
    <div class="col-md">
        <div class="row">
            <div class="col-md-6">
                <h3>T-Shirt</h3>
            </div>
            <div class="col-md-6">
                <p>T-Shirt</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Type</p>
            </div>
            <div class="col-md-3">
                <p>T-Shirt</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Price</p>
            </div>
            <div class="col-md-9">
                <p>$X.00</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-1">
                <a href="/dashboard/products/modify" class="btn btn-primary">Modify</a>
            </div>
        </div>
    </div>
</div>
<div class="row border mb-3">
    <div class="col-md">
        <div class="row">
            <div class="col-md-6">
                <h3>Cocktail Reception</h3>
            </div>
            <div class="col-md-6">
                <p>Share some drinks with the other atendees and our GOH</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Type</p>
            </div>
            <div class="col-md-3">
                <p>Ticket</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Price</p>
            </div>
            <div class="col-md-9">
                <p>$X.00</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-1">
                <a href="/dashboard/products/modify" class="btn btn-primary">Modify</a>
            </div>
        </div>
    </div>
</div>
<div class="row border mb-3">
    <div class="col-md">
        <div class="row">
            <div class="col-md-6">
                <h3>Shiny Gift</h3>
            </div>
            <div class="col-md-6">
                <p>A gift to you from PAWCon</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Type</p>
            </div>
            <div class="col-md-3">
                <p>Gift</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Price</p>
            </div>
            <div class="col-md-9">
                <p>$0.00</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-1">
                <a href="/dashboard/products/modify" class="btn btn-primary">Modify</a>
            </div>
        </div>
    </div>
</div>
<div class="row border mb-3">
    <div class="col-md">
        <div class="row">
            <div class="col-md-6">
                <h3>Generic Item</h3>
            </div>
            <div class="col-md-6">
                <p>A generic item</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Type</p>
            </div>
            <div class="col-md-3">
                <p>Item</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Price</p>
            </div>
            <div class="col-md-9">
                <p>$X.00</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-1">
                <a href="/dashboard/products/modify" class="btn btn-primary">Modify</a>
            </div>
        </div>
    </div>
</div>
