<form>
    <h1>Modify Membership</h1>
    <h2>Details</h2>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputMembershipName">Membership Name</label>
            <input type="text" id="inputMembershipName" class="form-control" placeholder="Name" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="inputMembershipDesc">Description</label>
            <textarea id="inputMembershipDesc" class="form-control" rows="3" required></textarea>
        </div>
    </div>
    <h2>Pricing</h2>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputMembershipNormalPrice">Normal Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" min="0.00" id="inputMembershipNormalPrice" class="form-control" value="0.00" required>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputMembershipPreregPrice">Pre-Reg Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" min="0.00" id="inputMembershipPreregPrice" class="form-control" value="0.00" required>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputMembershipSpecialPrice">Special Price</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">$</div>
                </div>
                <input type="number" min="0.00" id="inputMembershipSpecialPrice" class="form-control" value="0.00" required>
            </div>
        </div>
    </div>
    <h2>Included Products</h2>
    <div class="form-row">
        <div class="form-group col-md-6">
            <select multiple class="form-control" id="exampleFormControlSelect2">
                <option>Product A</option>
                <option>Product B</option>
                <option>Product C</option>
                <option>Product D</option>
                <option>Product E</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-1">
            <a href="/dashboard/events/modify" class="btn btn-primary">Save</a>
        </div>
    </div>
</form>
