<form>
    <h1>Checkout</h1>
    <div class="form-row border m-2">
        <div class="col">
            <h2>Agreements</h2>
            <h3>Code of Conduct</h3>
            <p>Code of conduct</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="cocAgree">
                <label class="form-check-label" for="inlineCheckbox1">I agree</label>
            </div>
        </div>
    </div>
    <div class="form-row border m-2">
        <div class="col">
            <h2>Payment</h2>
            <select class="">
                <option>Credit Card</option>
                <option>PayPal</option>
                <option>Cash</option>
            </select>
        </div>
    </div>
    <div class="form-row m-2">
        <div class="col-md-4">
            <a href="/registration/completed" class="btn btn-primary">Pay</a>
        </div>
    </div>
</form>
