<div class="row">
    <div class="col-md-12">
        <h1>Select Membership</h1>
    </div>
</div>
<div class="row border mb-2 p-2">
    <div class="col-md-4">
        <h2>Matte</h2>
        <p>Membership Details</p>
        <a href="/registration/products" class="btn btn-primary">Select</a>
    </div>
</div>
<div class="row border mb-2 p-2">
    <div class="col-md-4">
        <h2>Sparkly</h2>
        <p>Membership Details</p>
        <a href="/registration/products" class="btn btn-primary">Select</a>
    </div>
</div>
<div class="row border mb-2 p-2">
    <div class="col-md-4">
        <h2>Shiny</h2>
        <p>Membership Details</p>
        <a href="/registration/products" class="btn btn-primary">Select</a>
    </div>
</div>
