<form>
    <h1>Products</h1>
    <div class="form-row">
        <h2>Included Products</h2>
        <table class="table table-sm bordered">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Price (Each)</th>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control form-control-sm">
                            <option name="">0</option>
                        </select>
                    </td>
                    <td>$20.00</td>
                    <td>T-shirt S</td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control form-control-sm">
                            <option name="">0</option>
                        </select>
                    </td>
                    <td>$20.00</td>
                    <td>T-Shirt M</td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control form-control-sm">
                            <option name="">0</option>
                        </select>
                    </td>
                    <td>$20.00</td>
                    <td>T-Shirt L</td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control form-control-sm">
                            <option name="">0</option>
                        </select>
                    </td>
                    <td>$20.00</td>
                    <td>Cocktail Reception</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-row">
        <h2>Available Products</h2>
        <table class="table table-sm bordered">
            <thead>
                <tr>
                    <th>Qty</th>
                    <th>Price (Each)</th>
                    <th>Item</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <select class="form-control form-control-sm">
                            <option name="">0</option>
                        </select>
                    </td>
                    <td>$5.00</td>
                    <td>Donation To Con</td>
                </tr>
                <tr>
                    <td>
                        <select class="form-control form-control-sm">
                            <option name="">0</option>
                        </select>
                    </td>
                    <td>$5.00</td>
                    <td>Donation to Charity</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <a href="/registration/checkout" class="form-control btn btn-primary">Checkout</a>
        </div>
    </div>
</form>
